body{
    animation: cambiofondo 5s infinite;
    
    
    }
    @keyframes cambiofondo{
    0%{background-color:rgb(239, 26, 26);}
    24%{background-color: rgb(251, 22, 98);}
    74%{background-color: rgb(255, 8, 197);}
    100%{background-color: rgb(214, 8, 251);}
    110%{background-color:rgb(253, 12, 144);}
    }